<ion-content>

  <div class="already-icon">
    <img src="assets/images/wallet.svg">
  </div>

  <video autoplay muted loop class="already-video">
    <source src="assets/videos/welcome.mp4" type="already/mp4">
  </video>
  <div class="already-overlay"></div>

  <div class="already-content">
    <h1>Restore account</h1>
    <ion-item>
      <ion-input required type="number" placeholder="Wallet seed" clearInput></ion-input>
      <ion-textarea rows="5" maxLength="5000"></ion-textarea>
    </ion-item>
    <ion-button color="secondary" expand="block" (click)="onRestore();">OK</ion-button>
  </div>
  
</ion-content>