<ion-content>

  <div class="phone-icon">
    <img src="assets/images/wallet.svg">
  </div>

  <video autoplay muted loop class="phone-video">
    <source src="assets/videos/welcome.mp4" type="video/mp4">
  </video>
  <div class="phone-overlay"></div>

  <ion-list class="phone-content">
    <h1>Verify your phone number</h1>
    <ion-item>
      <ion-input type="tel" placeholder="Phone number"></ion-input>
    </ion-item>

    <ion-button color="secondary" expand="block" (click)="onVerify();">Verify</ion-button>
  
  </ion-list>
  

</ion-content>