<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="title-icon">
        <img src="assets/images/wallet-blue.png" width="100px" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item lines="none">
      <h1>Enter your address</h1>
    </ion-item>

    

    <div padding text-center>
      <ion-button color="secondary" expand="block">Done</ion-button>
    </div>

  </ion-list>

</ion-content>