<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="title-icon">
        <img src="/assets/icon/logo.svg" width="100px" />
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card shadow="none">
    <ion-card-header>
      <h2 color="light">Welcome, John</h2>
      <p color="dark">Follow the checklist bellow to finish setting up your VoX wallet account</p>
    </ion-card-header>

    <ion-list>
      <ion-item>
        <ion-checkbox color="success" checked="true"></ion-checkbox>&nbsp;&nbsp;
        <ion-label>Create your account</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox color="success" checked="true"></ion-checkbox>&nbsp;&nbsp;
        <ion-label>Complete your profile</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox color="success" checked="true"></ion-checkbox>&nbsp;&nbsp;
        <ion-label>Complete ID checks</ion-label>
      </ion-item>

      <ion-item>
        <ion-checkbox color="success" checked="true"></ion-checkbox>&nbsp;&nbsp;
        <ion-label>Make your first deposit</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-checkbox color="success" checked="true"></ion-checkbox>&nbsp;&nbsp;
        <ion-label>Claim your bonus</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

</ion-content>