<ion-content>

  <div class="email-icon">
    <img src="assets/images/wallet.svg">
  </div>

  <video autoplay muted loop class="email-video">
      <source src="assets/videos/welcome.mp4" type="video/mp4">
  </video>
  <div class="email-overlay"></div>

  <div class="email-content">
    <h1>Enter your details</h1>
 
    <ion-item>
      <ion-input [(ngModel)]="userDetails.firstName" type="text" required placeholder="First Name" clearInput></ion-input>
    </ion-item>

    <ion-item>
        <ion-input [(ngModel)]="userDetails.secondName" type="text" required placeholder="Second Name" clearInput></ion-input>
      </ion-item>
  
    <ion-item>
      <ion-input [(ngModel)]="userDetails.emailAddress" type="email" required  placeholder="Email address" clearInput></ion-input>
    </ion-item>

    <ion-button color="secondary" expand="block" (click)="saveUser()">Sign Up</ion-button>  
  
  </div>

</ion-content>