<ion-header translucent no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="secondary"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <div padding text-center style="margin-top: 56px;">
      <img src="assets/images/wallet-blue.png" width="244px" height="auto">
    </div>

    <ion-item lines="none">
      <h1>Photo</h1>
    </ion-item>

    <ion-item>
      
    </ion-item>

    <div padding text-center>
      <ion-button color="secondary" expand="block">Confirm</ion-button>
    </div>

  </ion-list>

</ion-content>